<div class="rigth-content">
    <mat-card class="example-card">
        <mat-card-content>
            <mat-tab-group>
              
              <mat-tab label="Login">
                <app-login-form></app-login-form>
                <button mat-raised-button color="primary">Login</button>
              </mat-tab>

              <mat-tab label="Register">
                <app-register-form></app-register-form>
                <button mat-raised-button color="primary">Register</button>
              </mat-tab>

            </mat-tab-group>     

        </mat-card-content>

    </mat-card>
</div>